<ion-view style="" title="Dashboard">
    <ion-content class="has-header" padding="true" overflow-scroll="true" ng-controller="mainController">

        <ion-header-bar>
            <h1 class="title" align="center"><img src="/img/funnel.png">Projects</h1>
        </ion-header-bar>
        <div style="height: 40px;" class="spacer"></div>
        
	        <form style="" class="list" ng-controller="mainController">
	        <ion-list>
		        <div style="height: 40px;" class="spacer"></div>
		        <h1 class="title">Hallo {{loginResponse.fullname}}!</h1>

                    <div class="item item-outline item-calm item-divider">Projects</div>
					<ion-item class="item item-text-wrap" ng-repeat="projects in getAllResponse.projects" ng-click="getSubprojects(projects.id)">
                        <div>
                        	{{ projects.title }}
	                        <p>{{ projects.subprojects }} Subprojects</p>
	                        
	                        <ion-option-button class = "button-assertive">delete</ion-option-button>
                        	<ion-option-button class = "button-energized">rename</ion-option-button>
                    	</div>
                	</ion-item>	
           </ion-list>
           </form>
           <button class="button button-medium button-assertive">+</button>
    </ion-content>
</ion-view>

