<ion-view style="" title="Subprojects"> 

<ion-nav-bar ng-controller="mainController">

	<ion-nav-buttons side="primary">
		<button class="button icon ion-chevron-left" ng-click="back()"></button>
	</ion-nav-buttons>
	

	<ion-nav-buttons side="secondary">
		<button class="button icon ion-navicon"></button>
	</ion-nav-buttons>
	
</ion-nav-bar>
	
<ion-content overflow-scroll="true" ng-controller="mainController">

         <form style="" class="list" action="">
	       <ion-list>
	           <div class="item item-calm item-divider">{{ getProjectInfoRes.title }}</div>

	               <ion-item class="item item-text-wrap" 
		               ng-repeat="subproject in getProjectInfoRes.subprojects" 
		               ng-click="openSubproject(subproject.idex, subproject.title)">
		               		{{ subproject.title }}
			
	                   <ion-option-button class="button-assertive" ng-click="deleteSubproject(subproject.idex, subproject.title)">delete</ion-option-button>
	                   <ion-option-button class="button-energized" ng-click="renameSubproject(subproject.idex, subproject.title)">rename</ion-option-button>
	
	                        <div class="item-icon-right">
	                            <i class="icon ion-chevron-left"></i>
	                        </div>
	
	               </ion-item> 
            </ion-list>

	<div style="height: 40px;" class="spacer"></div>

	   <button type="submit" class="button button-balanced" ng-click="addSubproject()">+</button>

        </form>

</ion-content> 
</ion-view>
