<ion-view style="" title="Dashboard">
    <ion-content class="has-header" padding="true" overflow-scroll="true">

        <ion-header-bar>
            <h1 class="title" align="center"><img src="/img/funnel.png">Projects</h1>
        </ion-header-bar>
	        
	        <form style="" class="list"  ng-controller="dashboardController">

		        <div style="height: 40px;" class="spacer"></div>
		        	<h1 class="title">Hallo {{loginResponse.fullname}}!</h1>
	            <label style="" class="item item-select">
	                <span class="input-label">Projects</span>
	                <select ng-model="option">
	                    <option>subproject 1</option>
	                    <option>subproject 2</option>
	                </select>
	            </label>
					<button class="button button-stable button-block" ng-click="getRestGetTest()">getRestGetTest</button>	
           </form>
           
    </ion-content>
</ion-view>

