<ion-view style="" title="Dashboard_subproject">
    <ion-content class="has-header" padding="true" overflow-scroll="true" ng-controller="mainController">

        <ion-header-bar>
            <h1 class="title" align="center"><img src="/img/funnel.png">Subprojects</h1>
        </ion-header-bar>

          <div style="height: 40px;" class="spacer"></div>

		      
                <div class="card">
                    <div class="item item-outline item-calm item-divider">Hauptprojekt</div>

                    <div class="item item-text-wrap">davon Subprojekte</div>
                </div>
         
           
    </ion-content>
</ion-view>

