<ion-view style="" title="Dashboard_subproject">
    <ion-content class="has-header" padding="true" overflow-scroll="true" ng-controller="mainController">

        <ion-header-bar>
            <h1 class="title" align="center"><img src="/img/funnel.png">Subprojects</h1>
        </ion-header-bar>
        
        <form style="" class="list" ng-controller="mainController">
        <ion-list>
        <div style="height: 40px;" class="spacer"></div>
        <!-- <h1 class="title">Hallo {{loginResponse.fullname}}!</h1> -->
              <div class="card">
                  <div class="item item-outline item-calm item-divider">{{ getProjectInfoResponse.title }}</div>
				  <ion-list>
	                  <ion-item class="item item-text-wrap" ng-repeat="subprojects in getProjectInfoResponse.subprojects">
	                      {{ subprojects.title }}
	                      
	                      <ion-option-button class = "button-assertive">delete</ion-option-button>
                    	  <ion-option-button class = "button-energized">rename</ion-option-button>
	                  </ion-item>
                  </ion-list>
                  
              </div>
         </ion-list>
         </form>
         <button class="button button-medium button-assertive">+</button>
    </ion-content>
</ion-view>