<ion-modal-view>
   <ion-header-bar>
      <h1 class="title" align="center"><img src="/img/funnel.png">Nutzungsbedingungen</h1>
   </ion-header-bar>
	
   <ion-content>

<h1>1. Geltungsbereich</h1>


Die nachfolgenden Allgemeinen Nutzungsbedingungen enthalten die grundlegenden Regeln für die Nutzung des Webportals taskQL, Glockenblumenweg 50 B, D-12357 Berlin-Rudow, vertreten durch ihren Geschäftsführer Dipl.-Inform. Thomas Ziemer (im Folgenden "taskQL" genannt), und für alle, auch zukünftigen Rechtsgeschäfte und rechtsgeschäftsähnlichen Handlungen zwischen dem Nutzer und taskQL. Von diesen Bedingungen abweichende Nutzungsbedingungen des Nutzers finden keine Anwendung.

<h1>2. Gegenstand</h1>

<p>2.1 taskQL betreibt als Diensteanbieter eine Online-Plattform im Internet, die dem Nutzer ein textorientiertes Projektmanagement durch die strukturierte oder nicht-strukturierte Eingabe von Projekten und Teilprojekten erm&ouml;glicht. In einem Projekt sind unter anderem Projekt-, Aufgaben- und Kommentarzeilen enthalten, auf die komplexe Filtermechanismen in unterschiedlichen textuellen und grafischen Darstellungen (Kalender, Agenda etc.) zur inhaltlichen Analyse eines Projekts angewandt werden k&ouml;nnen. Kollaborative Funktionen erm&ouml;glichen die Kooperation mehrerer Nutzer untereinander.</p>

<p>2.2 &quot;Nutzer&quot; im Sinne dieser Allgemeinen Nutzungsbedingungen sind alle nat&uuml;rlichen oder juristischen Personen oder Personenvereinigungen, die den Dienst von taskQL mittels der in Ziffer 2.1 genannten Betriebsinformationen verwenden. 

<h1>3. Registrierung eines Nutzers</h1>

<p>3.1 Die Nutzung der Diensteumgebung (Webportal, Online-Hilfe etc.) ist grunds&auml;tzlich ohne Registrierung m&ouml;glich. Eine Registrierung ist nur f&uuml;r die Nutzung bestimmter Projektmanagement-Funktionen des Dienstes erforderlich.</p>

<p>3.2 Durch die Registrierung kommt zwischen dem Nutzer und taskQL ein Vertrag &uuml;ber die Nutzung des Dienstes zustande. Die Registrierung und die Einrichtung des Nutzerkontos sind augenblicklich kostenfrei. Nur beschr&auml;nkt gesch&auml;ftsf&auml;higen nat&uuml;rlichen Personen ist die Registrierung nicht gestattet. Minderj&auml;hrige m&uuml;ssen mindestens 14 Jahre alt sein und das Einverst&auml;ndnis Ihrer Eltern oder Ihres Vormunds zu diesen Vereinbarungen besitzen.</p>

<p>3.3 Der Nutzer ist verpflichtet, die bei der Registrierung erhobenen Daten wahrheitsgem&auml;&szlig; und vollst&auml;ndig anzugeben. Bei einer &Auml;nderung der erhobenen Daten nach erfolgter Registrierung hat der Nutzer seine Angaben in seinem Nutzerkonto unverz&uuml;glich zu aktualisieren oder - soweit dies nicht m&ouml;glich ist - taskQL unverz&uuml;glich die &Auml;nderungen mitzuteilen. Mit Absendung des Registrierungsformulars gibt der Nutzer ein Angebot auf den Abschluss einer Nutzungsvereinbarung mit taskQL ab, stimmt den Allgemeinen Nutzungsbedingungen von taskQL zu und versichert, nicht gem&auml;&szlig; Ziffer 3.2 von der Nutzung des Dienstes ausgeschlossen zu sein.</p>

<p>3.4 taskQL beh&auml;lt sich vor, die Registrierung des Nutzers ohne Angabe von Gründen abzulehnen.</p>

<p>3.5 Akzeptiert taskQL die Registrierung, erh&auml;lt der Nutzer eine Aktivierungsmail mit einer Aktivierungsnummer (&quot;code&quot;), in der au&szlig;erdem die wichtigsten Angaben des Nutzers noch einmal zusammengefasst sind. Mit Zugang der Aktivierungsmail, welcher eine Kopie der aktuellen Allgemeinen Nutzungsbedingungen sowie der Datenschutzbestimmungen anh&auml;ngen, kommt zwischen taskQL und dem Nutzer die Nutzungsvereinbarung zustande. Um die Registrierung abzuschlie&szlig;en, muss der Nutzer die Aktivierungsmail entsprechend den darin enthaltenen Anweisungen beantworten.</p>

<p>3.6 Bei der Registrierung legt der Nutzer im Rahmen der technischen M&ouml;glichkeiten einen eindeutigen Benutzernamen und ein Kennwort fest (im Folgenden &quot;Zugangsdaten&quot; genannt). Unzul&auml;ssig sind Benutzernamen, deren Verwendung die Rechte Dritter, insbesondere Namens- oder Kennzeichenrechte verletzt, oder die sonst rechtswidrig sind oder gegen die guten Sitten versto&szlig;en. Der Nutzer hat die Zugangsdaten geheimzuhalten und vor dem Zugriff durch unbefugte Dritte gesch&uuml;tzt aufzubewahren. Sind dem Nutzer die Zugangsdaten abhandengekommen oder stellt er fest oder hegt er den Verdacht, dass seine Zugangsdaten von einem Dritten genutzt werden, hat er dies taskQL umgehend mitzuteilen.</p>

<p>3.7 taskQL ist zur sofortigen Sperrung des Nutzerkontos berechtigt, wenn bei der Registrierung falsche Angaben gemacht wurden,  bei Verlust oder bei Verdacht einer missbr&auml;uchlichen Nutzung der Zugangsdaten durch einen Dritten,  wenn der Nutzer gegen die Nutzungsbedingungen von taskQL versto&szlig;en hat, oder wenn sonst ein wichtiger Grund vorliegt.</p>

<p>Im Falle einer Sperrung des Nutzerkontos ist es dem betroffenen Nutzer bis zu einer ausdr&uuml;cklichen vorherigen Zustimmung von taskQL untersagt, sich erneut bei taskQL registrieren zu lassen und ein neues Nutzerkonto zu er&ouml;ffnen. 

<h1>4. Dienste und kostenpflichtige Abonnements</h1>

<p>taskQL stellt textorientiertes Projektmanagement bereit. Bestimmte Dienste stehen Ihnen kostenfrei zur Verf&uuml;gung. Andere Dienste erfordern eine Zahlung, bevor Sie sie nutzen k&ouml;nnen. Weitere Informationen zu unseren Lizenzen finden Sie auf unserer Webseite.</p>

<p>Wenn Sie Ihr Abonnement f&uuml;r kostenpflichtige Dienste k&uuml;ndigen oder diese Dienste unterbrochen werden (zum Beispiel, wenn Sie Ihre Zahlungsdaten &auml;ndern), kann es sein, dass Sie die kostenpflichtigen Dienste nicht mehr abonnieren k&ouml;nnen. Beachten Sie, dass die kostenpflichtigen Dienste in Zukunft eventuell nicht mehr zur Verf&uuml;gung stehen. In diesem Fall werden Ihnen die Dienste nicht mehr in Rechnung gestellt. Sollte taskQL die kostenpflichtigen Dienste nicht weiter anbieten, werden wir Sie mindestens 30 Tage vorher dar&uuml;ber informieren. 

<h1>5. Zahlungen</h1>

<p>Kostenpflichtige Abonnements k&ouml;nnen entweder durch Bezahlung einer monatlichen Abonnementsgeb&uuml;hr oder durch Vorauszahlung erworben werden, wodurch Sie die taskQL-Dienste f&uuml;r einen bestimmten Zeitraum nutzen k&ouml;nnen. Wenn Sie ein kostenpflichtiges Abonnement durch die Nutzung eines Codes erworben haben, endet Ihr Abonnement automatisch am Ende des vorausbezahlten Zeitraums oder aber, wenn sich kein ausreichender Saldo f&uuml;r die Dienste auf Ihrem Vorauszahlungskonto befindet.</p>

<p>Wenn Sie sich f&uuml;r ein kostenpflichtiges Abonnement oder einen Code registrieren, erkl&auml;ren Sie sich damit einverstanden, sofort Zugriff auf die kostenpflichtigen Dienste von taskQL zu erhalten. 

<h1>6. Widerrufsrecht f&uuml;r Verbraucher</h1>

<p>Sind Sie Verbraucher, das hei&szlig;t eine nat&uuml;rliche Person, die den Vertrag zu einem Zweck abschlie&szlig;t, der weder Ihrer gewerblichen noch Ihrer selbst&auml;ndigen beruflichen T&auml;tigkeit zugerechnet werden kann (&sect; 13 BGB), so steht Ihnen ein gesetzliches Widerrufsrecht nach folgender Ma&szlig;gabe zu: Widerrufsbelehrung</p>

<p>Sie k&ouml;nnen Ihre Vertragserkl&auml;rung innerhalb von 14 Tagen ohne Angabe von Gr&uuml;nden in Textform (z. B. Brief, Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erf&uuml;llung unserer Informationspflichten gem&auml;&szlig; Artikel 246 &sect; 2 in Verbindung mit &sect; 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gem&auml;&szlig; &sect; 312e Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 &sect; 3 EGBGB. Zur Wahrung der Widerrufsfrist gen&uuml;gt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:</p>

<p>ziemer's informatik Dipl.-Inform.</p>
<p>Thomas Ziemer</p>
<p>Glockenblumenweg 50 B D-12357 Berlin-Rudow</p>
<p>widerruf@taskQL.com</p>

<h1>Widerrufsfolgen</h1>

<p>Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zur&uuml;ckzugew&auml;hren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. K&ouml;nnen Sie taskQL die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zur&uuml;ckgew&auml;hren, m&uuml;ssen Sie insoweit ggf. Wertersatz leisten. Dies kann dazu f&uuml;hren, dass Sie die vertraglichen Zahlungsverpflichtungen f&uuml;r den Zeitraum bis zum Widerruf gleichwohl erf&uuml;llen m&uuml;ssen. Verpflichtungen zur Erstattung von Zahlungen m&uuml;ssen innerhalb von 30 Tagen erf&uuml;llt werden. Die Frist beginnt f&uuml;r Sie mit der Absendung Ihrer Widerrufserkl&auml;rung, f&uuml;r taskQL mit deren Empfang.</p>

<h1>Besondere Hinweise</h1>

<p>Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdr&uuml;cklichen Wunsch vollst&auml;ndig erf&uuml;llt ist, bevor Sie Ihr Widerrufsrecht ausge&uuml;bt haben.</p>

<p>Ende der Widerrufsbelehrung 

<h1>7. Austausch von Informationen zwischen Nutzern</h1>

<p>taskQL ist bem&uuml;ht, eine betr&uuml;gerische Nutzung des Dienstes zu verhindern. Leider kann jedoch nicht ausgeschlossen werden, dass dies im Einzelfall dennoch geschieht. Daher kann taskQL keine Haftung daf&uuml;r &uuml;bernehmen, dass die Identit&auml;t eines Nutzers den von ihm gemachten Angaben entspricht. Es wird empfohlen, die Identit&auml;t des jeweils anderen Vertragspartners vor dem Austausch von Leistungen (Projekten, Teilprojekten - insbesondere jenen mit Schreibberechtigung- , sowie benannten Filtern usw.) festzustellen. 

<h1>8. Verwendung personenbezogener Angaben</h1>

<p>Kontaktdaten anderer, die im Dienst von taskQL enthalten sind oder von denen der Nutzer sonst im Rahmen der Nutzung des Dienstes Kenntnis erlangt, d&uuml;rfen ausschlie&szlig;lich von den jeweiligen Vertragsparteien zum Zwecke des Austausches von Informationen (Dokumente, Nachrichten, Filter usw.) verwendet werden. Es ist insbesondere untersagt, entsprechende Daten zu Werbezwecken zu nutzen und dem Betroffenen unverlangte Informationen zu &uuml;bersenden. 

<h1>9. Beendigung</h1>

<p>9.1 Der Nutzer kann diese Nutzungsvereinbarung sp&auml;testens am letzten Werktag eines Kalendermonats zum Ablauf des n&auml;chsten Monats k&uuml;ndigen. Zur K&uuml;ndigung gen&uuml;gt eine entsprechende Erkl&auml;rung in Textform an eine der in Ziffer 6 genannten Kontaktdaten.</p>

<p>9.2 taskQL kann die Nutzungsvereinbarung ebenfalls unter Einhaltung der in Ziffer 9.1 genannten Fristen k&uuml;ndigen. Die K&uuml;ndigung wird an die bei der Registrierung des Nutzers von ihm angegebene Mailadresse zugestellt. Das Recht zur au&szlig;erordentlichen K&uuml;ndigung bleibt hiervon unber&uuml;hrt. 

<h1>10. Haftung</h1>

<p>10.1 taskQL haftet f&uuml;r Sch&auml;den der Nutzer nach den gesetzlichen Bestimmungen, sofern die Sch&auml;den vors&auml;tzlich oder grob fahrl&auml;ssig verursacht wurden, sie die Folge des Nichtvorhandenseins einer garantierten Beschaffenheit der Portalleistung sind, sie auf einer schuldhaften Verletzung wesentlicher Vertragspflichten (siehe Ziffer 2) beruhen, sie die Folge einer schuldhaften Verletzung der Gesundheit, des K&ouml;rpers oder des Lebens sind, oder f&uuml;r die eine Haftung nach dem Produkthaftungsgesetz vorgesehen ist.</p>

<p>10.2 Wesentliche Vertragspflichten sind solche vertragliche Pflichten, deren Erf&uuml;llung die ordnungsgem&auml;&szlig;e Durchf&uuml;hrung des Vertrages &uuml;berhaupt erst erm&ouml;glichen und auf deren Einhaltung der Vertragspartner regelm&auml;&szlig;ig vertrauen darf, und deren Verletzung auf der anderen Seite die Erreichung des Vertragszwecks gef&auml;hrdet.</p>

<p>10.3 Im &Uuml;brigen ist sowohl unsere Haftung als auch die unserer Erf&uuml;llungs- und Verrichtungsgehilfen ausgeschlossen, gleich aus welchem Rechtsgrund. 

<h1>11. Freistellung</h1>

<p>11.1 Der Nutzer stellt taskQL von allen Anspr&uuml;chen Dritter frei, die diese wegen eingestellter Inhalte gegen&uuml;ber taskQL geltend machen. Die Freistellung umfasst insbesondere die Kosten einer notwendigen Rechtsverteidigung.</p>

<p>11.2 Der Nutzer ist verpflichtet, im Falle einer Inanspruchnahme von taskQL unverz&uuml;glich, wahrheitsgem&auml;&szlig; und vollst&auml;ndig s&auml;mtliche Informationen zur Verf&uuml;gung zu stellen, die taskQL f&uuml;r die Pr&uuml;fung der Anspr&uuml;che und die Verteidigung ben&ouml;tigt. 

<h1>12. Aufrechnungsverbot</h1>

<p>Der Nutzer ist nicht zur Aufrechnung berechtigt, es sei denn, die Gegenforderungen sind rechtskr&auml;ftig festgestellt oder werden von taskQL nicht bestritten. 

<h1>13. Gerichtsstand/Anwendbares Recht</h1>

<p>13.1 Ist der Nutzer Kaufmann, juristische Person des &ouml;ffentlichen Rechts oder &ouml;ffentlich rechtliches Sonderverm&ouml;gen, ist ausschlie&szlig;licher Gerichtsstand f&uuml;r alle sich aus dem Vertragsverh&auml;ltnis ergebenden Anspr&uuml;che Berlin.</p>

<p>13.2 Auf den Vertrag findet ausschlie&szlig;lich das Recht der Bundesrepublik Deutschland Anwendung. 

<h1>14. &Auml;nderungen der Allgemeinen Nutzungsbedingungen</h1>

<p>14.1 taskQL beh&auml;lt sich das Recht vor, die Allgemeinen Nutzungsbedingungen jederzeit neu zu gestalten. In diesem Fall wird taskQL dem Nutzer die &Auml;nderungen per Mail mitteilen.</p>

<p>14.2 Der Nutzer erkl&auml;rt, mit der Anwendung der ge&auml;nderten Allgemeinen Nutzungsbedingungen auf bereits vor der &Auml;nderung geschlossene Vertr&auml;ge einverstanden zu sein, wenn der Nutzer nicht innerhalb einer Frist von zwei Wochen, beginnend mit dem Tag, der auf die &Auml;nderungsmitteilung folgt, der &Auml;nderung schriftlich widerspricht.</p>

<p>14.3 Die &Auml;nderungsmitteilung wird noch einmal den Hinweis auf die M&ouml;glichkeit und Frist des Widerspruchs, sowie die Bedeutung, bzw. Folgen des Unterlassens eines Widerspruches enthalten. Sie kann insbesondere per Mail an die vom Nutzer angegebene Mailadresse erfolgen. Widerspricht der Nutzer, wird das Vertragsverh&auml;ltnis unter den bisherigen Bedingungen fortgesetzt. taskQL ist f&uuml;r diesen Fall berechtigt, das Vertragsverh&auml;ltnis au&szlig;erordentlich zu beendigen. 

<h1>15. Sonstiges</h1>

<p>15.1 Die vertraglichen Beziehungen der Vertragsparteien unterliegen dem Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG) und des Kollisionsrechts.</p>

<p>15.2 F&uuml;r den Fall der Unwirksamkeit oder Teilunwirksamkeit einer der Bestimmungen dieser Allgemeinen Nutzungsbedingungen bleibt die Wirksamkeit der &uuml;brigen Bestimmungen hiervon unber&uuml;hrt. Eine unwirksame oder teilunwirksame Bestimmung wird durch diejenige Bestimmung ersetzt, die der urspr&uuml;nglichen unter wirtschaftlicher Betrachtung am n&auml;chsten kommt.</p>

<div style="height: 40px;" class="spacer"></div>

      <button class ="button button-stable button-block" ng-click="closeModal()">accept</button>
      <button class ="button button-stable button-block" ng-click="closeModal()">decline</button>
   </ion-content>
</ion-modal-view>