<ion-modal-view>
   <ion-header-bar>
      <h1 class="title" align="center"><img src="/img/funnel.png">Nutzungsbedingungen</h1>
   </ion-header-bar>
	
   <ion-content>

<h1>1. Geltungsbereich</h1>


Die nachfolgenden Allgemeinen Nutzungsbedingungen enthalten die grundlegenden Regeln für die Nutzung des Webportals taskQL, Glockenblumenweg 50 B, D-12357 Berlin-Rudow, vertreten durch ihren Geschäftsführer Dipl.-Inform. Thomas Ziemer (im Folgenden "taskQL" genannt), und für alle, auch zukünftigen Rechtsgeschäfte und rechtsgeschäftsähnlichen Handlungen zwischen dem Nutzer und taskQL. Von diesen Bedingungen abweichende Nutzungsbedingungen des Nutzers finden keine Anwendung.

<h1>2. Gegenstand</h1>

2.1 taskQL betreibt als Diensteanbieter eine Online-Plattform im Internet, die dem Nutzer ein textorientiertes Projektmanagement durch die strukturierte oder nicht-strukturierte Eingabe von Projekten und Teilprojekten ermöglicht. In einem Projekt sind unter anderem Projekt-, Aufgaben- und Kommentarzeilen enthalten, auf die komplexe Filtermechanismen in unterschiedlichen textuellen und grafischen Darstellungen (Kalender, Agenda etc.) zur inhaltlichen Analyse eines Projekts angewandt werden können. Kollaborative Funktionen ermöglichen die Kooperation mehrerer Nutzer untereinander.

2.2 "Nutzer" im Sinne dieser Allgemeinen Nutzungsbedingungen sind alle natürlichen oder juristischen Personen oder Personenvereinigungen, die den Dienst von taskQL mittels der in Ziffer 2.1 genannten Betriebsinformationen verwenden.
3. Registrierung eines Nutzers

3.1 Die Nutzung der Diensteumgebung (Webportal, Online-Hilfe etc.) ist grundsätzlich ohne Registrierung möglich. Eine Registrierung ist nur für die Nutzung bestimmter Projektmanagement-Funktionen des Dienstes erforderlich.

3.2 Durch die Registrierung kommt zwischen dem Nutzer und taskQL ein Vertrag über die Nutzung des Dienstes zustande. Die Registrierung und die Einrichtung des Nutzerkontos sind augenblicklich kostenfrei. Nur beschränkt geschäftsfähigen natürlichen Personen ist die Registrierung nicht gestattet. Minderjährige müssen mindestens 14 Jahre alt sein und das Einverständnis Ihrer Eltern oder Ihres Vormunds zu diesen Vereinbarungen besitzen.

3.3 Der Nutzer ist verpflichtet, die bei der Registrierung erhobenen Daten wahrheitsgemäß und vollständig anzugeben. Bei einer Änderung der erhobenen Daten nach erfolgter Registrierung hat der Nutzer seine Angaben in seinem Nutzerkonto unverzüglich zu aktualisieren oder - soweit dies nicht möglich ist - taskQL unverzüglich die Änderungen mitzuteilen. Mit Absendung des Registrierungsformulars gibt der Nutzer ein Angebot auf den Abschluss einer Nutzungsvereinbarung mit taskQL ab, stimmt den Allgemeinen Nutzungsbedingungen von taskQL zu und versichert, nicht gemäß Ziffer 3.2 von der Nutzung des Dienstes ausgeschlossen zu sein.

3.4 taskQL behält sich vor, die Registrierung des Nutzers ohne Angabe von Gründen abzulehnen.

3.5 Akzeptiert taskQL die Registrierung, erhält der Nutzer eine Aktivierungsmail mit einer Aktivierungsnummer ("code"), in der außerdem die wichtigsten Angaben des Nutzers noch einmal zusammengefasst sind. Mit Zugang der Aktivierungsmail, welcher eine Kopie der aktuellen Allgemeinen Nutzungsbedingungen sowie der Datenschutzbestimmungen anhängen, kommt zwischen taskQL und dem Nutzer die Nutzungsvereinbarung zustande. Um die Registrierung abzuschließen, muss der Nutzer die Aktivierungsmail entsprechend den darin enthaltenen Anweisungen beantworten.

3.6 Bei der Registrierung legt der Nutzer im Rahmen der technischen Möglichkeiten einen eindeutigen Benutzernamen und ein Kennwort fest (im Folgenden "Zugangsdaten" genannt). Unzulässig sind Benutzernamen, deren Verwendung die Rechte Dritter, insbesondere Namens- oder Kennzeichenrechte verletzt, oder die sonst rechtswidrig sind oder gegen die guten Sitten verstoßen. Der Nutzer hat die Zugangsdaten geheimzuhalten und vor dem Zugriff durch unbefugte Dritte geschützt aufzubewahren. Sind dem Nutzer die Zugangsdaten abhandengekommen oder stellt er fest oder hegt er den Verdacht, dass seine Zugangsdaten von einem Dritten genutzt werden, hat er dies taskQL umgehend mitzuteilen.

3.7 taskQL ist zur sofortigen Sperrung des Nutzerkontos berechtigt,

    wenn bei der Registrierung falsche Angaben gemacht wurden,
    bei Verlust oder bei Verdacht einer missbräuchlichen Nutzung der Zugangsdaten durch einen Dritten,
    wenn der Nutzer gegen die Nutzungsbedingungen von taskQL verstoßen hat,
    oder wenn sonst ein wichtiger Grund vorliegt.

Im Falle einer Sperrung des Nutzerkontos ist es dem betroffenen Nutzer bis zu einer ausdrücklichen vorherigen Zustimmung von taskQL untersagt, sich erneut bei taskQL registrieren zu lassen und ein neues Nutzerkonto zu eröffnen.
4. Dienste und kostenpflichtige Abonnements

taskQL stellt textorientiertes Projektmanagement bereit. Bestimmte Dienste stehen Ihnen kostenfrei zur Verfügung. Andere Dienste erfordern eine Zahlung, bevor Sie sie nutzen können. Weitere Informationen zu unseren Lizenzen finden Sie auf unserer Webseite.

Wenn Sie Ihr Abonnement für kostenpflichtige Dienste kündigen oder diese Dienste unterbrochen werden (zum Beispiel, wenn Sie Ihre Zahlungsdaten ändern), kann es sein, dass Sie die kostenpflichtigen Dienste nicht mehr abonnieren können. Beachten Sie, dass die kostenpflichtigen Dienste in Zukunft eventuell nicht mehr zur Verfügung stehen. In diesem Fall werden Ihnen die Dienste nicht mehr in Rechnung gestellt. Sollte taskQL die kostenpflichtigen Dienste nicht weiter anbieten, werden wir Sie mindestens 30 Tage vorher darüber informieren.
5. Zahlungen

Kostenpflichtige Abonnements können entweder durch Bezahlung einer monatlichen Abonnementsgebühr oder durch Vorauszahlung erworben werden, wodurch Sie die taskQL-Dienste für einen bestimmten Zeitraum nutzen können. Wenn Sie ein kostenpflichtiges Abonnement durch die Nutzung eines Codes erworben haben, endet Ihr Abonnement automatisch am Ende des vorausbezahlten Zeitraums oder aber, wenn sich kein ausreichender Saldo für die Dienste auf Ihrem Vorauszahlungskonto befindet.

Wenn Sie sich für ein kostenpflichtiges Abonnement oder einen Code registrieren, erklären Sie sich damit einverstanden, sofort Zugriff auf die kostenpflichtigen Dienste von taskQL zu erhalten.
6. Widerrufsrecht für Verbraucher

Sind Sie Verbraucher, das heißt eine natürliche Person, die den Vertrag zu einem Zweck abschließt, der weder Ihrer gewerblichen noch Ihrer selbständigen beruflichen Tätigkeit zugerechnet werden kann (§ 13 BGB), so steht Ihnen ein gesetzliches Widerrufsrecht nach folgender Maßgabe zu:
Widerrufsbelehrung

Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z. B. Brief, Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312e Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:

ziemer's informatik
Dipl.-Inform. Thomas Ziemer
Glockenblumenweg 50 B
D-12357 Berlin-Rudow

widerruf@taskQL.com

Widerrufsfolgen

Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie taskQL die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie insoweit ggf. Wertersatz leisten. Dies kann dazu führen, dass Sie die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung, für taskQL mit deren Empfang.

Besondere Hinweise

Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.

Ende der Widerrufsbelehrung
7. Austausch von Informationen zwischen Nutzern

taskQL ist bemüht, eine betrügerische Nutzung des Dienstes zu verhindern. Leider kann jedoch nicht ausgeschlossen werden, dass dies im Einzelfall dennoch geschieht. Daher kann taskQL keine Haftung dafür übernehmen, dass die Identität eines Nutzers den von ihm gemachten Angaben entspricht. Es wird empfohlen, die Identität des jeweils anderen Vertragspartners vor dem Austausch von Leistungen (Projekten, Teilprojekten - insbesondere jenen mit Schreibberechtigung- , sowie benannten Filtern usw.) festzustellen.
8. Verwendung personenbezogener Angaben

Kontaktdaten anderer, die im Dienst von taskQL enthalten sind oder von denen der Nutzer sonst im Rahmen der Nutzung des Dienstes Kenntnis erlangt, dürfen ausschließlich von den jeweiligen Vertragsparteien zum Zwecke des Austausches von Informationen (Dokumente, Nachrichten, Filter usw.) verwendet werden. Es ist insbesondere untersagt, entsprechende Daten zu Werbezwecken zu nutzen und dem Betroffenen unverlangte Informationen zu übersenden.
9. Beendigung

9.1 Der Nutzer kann diese Nutzungsvereinbarung spätestens am letzten Werktag eines Kalendermonats zum Ablauf des nächsten Monats kündigen. Zur Kündigung genügt eine entsprechende Erklärung in Textform an eine der in Ziffer 6 genannten Kontaktdaten.

9.2 taskQL kann die Nutzungsvereinbarung ebenfalls unter Einhaltung der in Ziffer 9.1 genannten Fristen kündigen. Die Kündigung wird an die bei der Registrierung des Nutzers von ihm angegebene Mailadresse zugestellt. Das Recht zur außerordentlichen Kündigung bleibt hiervon unberührt.
10. Haftung

10.1 taskQL haftet für Schäden der Nutzer nach den gesetzlichen Bestimmungen, sofern die Schäden vorsätzlich oder grob fahrlässig verursacht wurden, sie die Folge des Nichtvorhandenseins einer garantierten Beschaffenheit der Portalleistung sind, sie auf einer schuldhaften Verletzung wesentlicher Vertragspflichten (siehe Ziffer 2) beruhen, sie die Folge einer schuldhaften Verletzung der Gesundheit, des Körpers oder des Lebens sind, oder für die eine Haftung nach dem Produkthaftungsgesetz vorgesehen ist.

10.2 Wesentliche Vertragspflichten sind solche vertragliche Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner regelmäßig vertrauen darf, und deren Verletzung auf der anderen Seite die Erreichung des Vertragszwecks gefährdet.

10.3 Im Übrigen ist sowohl unsere Haftung als auch die unserer Erfüllungs- und Verrichtungsgehilfen ausgeschlossen, gleich aus welchem Rechtsgrund.
11. Freistellung

11.1 Der Nutzer stellt taskQL von allen Ansprüchen Dritter frei, die diese wegen eingestellter Inhalte gegenüber taskQL geltend machen. Die Freistellung umfasst insbesondere die Kosten einer notwendigen Rechtsverteidigung.

11.2 Der Nutzer ist verpflichtet, im Falle einer Inanspruchnahme von taskQL unverzüglich, wahrheitsgemäß und vollständig sämtliche Informationen zur Verfügung zu stellen, die taskQL für die Prüfung der Ansprüche und die Verteidigung benötigt.
12. Aufrechnungsverbot

Der Nutzer ist nicht zur Aufrechnung berechtigt, es sei denn, die Gegenforderungen sind rechtskräftig festgestellt oder werden von taskQL nicht bestritten.
13. Gerichtsstand/Anwendbares Recht

13.1 Ist der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich rechtliches Sondervermögen, ist ausschließlicher Gerichtsstand für alle sich aus dem Vertragsverhältnis ergebenden Ansprüche Berlin.

13.2 Auf den Vertrag findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung.
14. Änderungen der Allgemeinen Nutzungsbedingungen

14.1 taskQL behält sich das Recht vor, die Allgemeinen Nutzungsbedingungen jederzeit neu zu gestalten. In diesem Fall wird taskQL dem Nutzer die Änderungen per Mail mitteilen.

14.2 Der Nutzer erklärt, mit der Anwendung der geänderten Allgemeinen Nutzungsbedingungen auf bereits vor der Änderung geschlossene Verträge einverstanden zu sein, wenn der Nutzer nicht innerhalb einer Frist von zwei Wochen, beginnend mit dem Tag, der auf die Änderungsmitteilung folgt, der Änderung schriftlich widerspricht.

14.3 Die Änderungsmitteilung wird noch einmal den Hinweis auf die Möglichkeit und Frist des Widerspruchs, sowie die Bedeutung, bzw. Folgen des Unterlassens eines Widerspruches enthalten. Sie kann insbesondere per Mail an die vom Nutzer angegebene Mailadresse erfolgen. Widerspricht der Nutzer, wird das Vertragsverhältnis unter den bisherigen Bedingungen fortgesetzt. taskQL ist für diesen Fall berechtigt, das Vertragsverhältnis außerordentlich zu beendigen.
15. Sonstiges

15.1 Die vertraglichen Beziehungen der Vertragsparteien unterliegen dem Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG) und des Kollisionsrechts.

15.2 Für den Fall der Unwirksamkeit oder Teilunwirksamkeit einer der Bestimmungen dieser Allgemeinen Nutzungsbedingungen bleibt die Wirksamkeit der übrigen Bestimmungen hiervon unberührt. Eine unwirksame oder teilunwirksame Bestimmung wird durch diejenige Bestimmung ersetzt, die der ursprünglichen unter wirtschaftlicher Betrachtung am nächsten kommt.

<div style="height: 40px;" class="spacer"></div>

      <button class ="button button-stable button-block" ng-click="closeModal()">accept</button>
      <button class ="button button-stable button-block" ng-click="closeModal()">decline</button>
   </ion-content>
</ion-modal-view>