<ion-view style="" title="Editor"> <ion-content
	class="has-header" padding="true" overflow-scroll="true">
<ion-header-bar>
<h1 class="title" align="center">
	<img src="/img/funnel.png" alt="">Editor
</h1>
</ion-header-bar>
<form style="" class="list" ng-controller="mainController" action="">

	<div style="height: 40px;" class="spacer"></div>

	<ion-list>
	<div class="item item-outline item-calm item-divider">
	{{ getSubprojectInfoRes.title }}</div>
		<ion-item class="item item-text-wrap"
			<div ui-ace="{ onLoad: aceLoaded }" style="height: 500px; width: 100%" data-tap-disabled="true">
				<pre id="editor"></pre>
			</div>
		</ion-item>
	</ion-list>

</form>

</ion-content> </ion-view>