<ion-view>

	<ion-header-bar class="bar-calm" ng-controller="mainController">
			<h1 class="title">Menu</h1>
	</ion-header-bar>

	<ion-content class="has-header">
		<ion-list>

			<label class="item item-input item-select">
				<div class="input-label">
					language
				</div>

				<select>
					<option>deutsch</option>
					<option>englisch</option>
				</select>
			</label>

			<ion-item>
				<a ui-sref="filter">filter</a>
			</ion-item>

			<ion-item>
				calender
			</ion-item>

			<ion-item menu-close="">
				logout
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>

