<!DOCTYPE html>
<html ng-app="taskQL">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Login</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

</head>
<body ng-app="taskQL">
<ion-view style="" title="Login">
    <ion-content class="has-header" overflow-scroll="true" padding="true">

    <ion-header-bar>
      <h1 class="title" align="center"><img src="/img/funnel.png">Login </h1>
    </ion-header-bar>

        <form style="" class="list" ng-submit="getSessionToken()" id="loginForm">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="username" type="text" ng-model="username">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Passwort</span>
                    <input placeholder="password" type="password" ng-model="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class="button button-stable button-block" type="submit" form="loginForm">Einloggen</a>
            <button class="button button-calm button-clear button-block">Account erstellen</a>
            <button class="button button-calm button-clear button-block">Passwort vergessen?</a>
        </form>
    </ion-content>
</ion-view>
</body>
</html>
